body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #27374d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #577186;
}
